@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
	*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	background-image: url(bg.jpg);
	background-size: cover;	
}
.container{
	display: flex;
	align-items: center;
/*	align-items: bottom;*/
	justify-content: center;
	height: 100vh;
	width: 100%;
}
.btn{
	height: 50px;
	width: 100px;
	background: red;
}
.myBox{
	background: blue;
	position: absolute;
	animation: 1s uppp linear ;
	transition: 2s all;
	border-radius: 1px;
	border-radius: 50%;
/*	top: 0;*/
}
@keyframes uppp{
	0%{
		bottom: 0;
	}
	100%{
		top: 0%;
	}
}